* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

.home {
	height: 100vh;
	background-image: url(../images/Index-bg.jpg);
	background-size: cover;
	font-family: 'Roboto', sans-serif;
	color: white;
	overflow: hidden;
}

.navbar {
	background-color: rgba(20, 17, 16, .7);
	border: 0;
	margin: 0;
}

.namebar {
	line-height: 0;
}

.namebar p {
	padding-left: 50px;
}

.show-element {
  -webkit-animation-name: myAnimation;
  -webkit-animation-duration:3s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes myAnimation {
  from {
    -webkit-transform: translateY(-250%);
  }
  to {
    -webkit-transform: translateY(0);
  }
}


.hide-element {
  -webkit-animation-name: cssAnimation;
  -webkit-animation-duration:3s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes cssAnimation {
  from {
    -webkit-transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(250%);
  }
}

#projects-scr,
#contact-scr {
	width: 100%;
	position: absolute;
	top: 18%;
	display: none;
}

#contact-scr div {
	background-color: rgba(20, 17, 16, .7);
	border-radius: 10px;
	color: white;
	width: 100%;
}

#projects-scr div {
	background-color: white;
	border-radius: 10px;
	color: black;
}

#projects-scr img {
	width: 100%;
	border-radius: 10px;
}

.animated {
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
  	-moz-animation-duration: 1s;
  	animation-iteration-count: infinite;
}

#main-content div {
	height: 350px;
	border: 1px black solid;
	margin-top: 30vh;
	background-color: rgba(20, 17, 16, .7);
	border-radius: 10px;
}

main h2 {
	text-align: center;
}

main p {
	text-indent: 2em;
}

main h2,
main p,
.img-id {
	position: relative;
	top: -25%;
}

.nav > .nav-item > .nav-link {
	color:  rgba(0, 255, 0, .6); 
}

.nav > .nav-item > .active {
  color: black;
  background-color: rgba(0, 255, 0, .6);    
}

.nav > .nav-item > .active:hover {
  color: black;
  background-color: rgba(0, 255, 0, .6);    
}

.nav > .nav-item > .not-active:hover,
.dropdown {
	color:  rgba(0, 255, 0, 1); 
}

.dropdown {
	margin-left: 10px;
}

.dropdown-menu {
	background-color: rgba(20, 17, 16, .7);
}

.dropdown-item {
	color:  rgba(0, 255, 0, .6); 
}

.nav > .nav-item > .active:hover {
	background-color:  rgba(0, 255, 0, 1); 
}

.navbar-default .navbar-nav > .open > a {
	background-color: rgba(0, 255, 0, .6); 
}

#dropdownMenuButton:hover {
	color: black;
  	background-color: rgba(0, 255, 0, 1);    
}

.projects,
.contact {
	height: 100vh;
}

.proj-text {
	background-color: rgba(20, 17, 16, .3);
}

.right {
	border-radius: 20px 0 0 20px;
}

.left {
	border-radius: 0 20px 20px 0;
}

.proj-text:hover {
	background-color: rgba(20, 17, 16, 1);
	color: white;
}

.proj-text h2 {
	margin-top: 10px;
	text-align: center;
}

.proj-text p {
	font-size: 18px;
	text-indent: 50px;
}

.project-btn {
	font-size: 30px;
}

.screen {
	height: 95%;
	display: block;
	margin: 0 auto;
}

.web-image {
	width: 260px;
	height: 170px;
	position: relative;
	top: -190px;
	left: 120px;
}

.info {
	height: auto;
	color: white;
	border: 1px solid white;
	background-color: rgba(20, 17, 16, .7);
	border-radius: 10px;
	font-size: 1.5em;
}

.info i {
	font-size: 2em;
	padding-left: 20px;
	padding-top: 20px;
	padding-right: 30px;
	text-align: center;
}

.btn-scroll-top > i {
	position: relative;
	top: 10px;
	animation-name: animate-pulse;
	animation-duration: 4s;
    animation-iteration-count: infinite;
}

.info > p:hover [class*="-facebook"] {
	color: #3B5998;
}

.info > p:hover [class*="-github"] {
	color: #AD5C51;
}

.info > p:hover [class*="-envelope"] {
	color: #9CDAF1;
}

.info > p:hover [class*="-mobile"] {
	color: #AD5C51;
}

/*Mobile Styles*/
@media only screen and (max-width: 400px) {

	.home {
		padding-top: 170px;
		width: auto;
		height: 100vh;
	}

	#projects {
		height: auto;
	}

	.nav > .nav-item > .not-active:hover {
		color: black;
  		background-color: rgba(0, 255, 0, .6);
	}

	.navbar {
		display: block;
		margin: 0 auto;
		background-color: rgba(20, 17, 16, 1);
	}

	.namebar h2 {
		font-size: 25px;
	}

	.namebar p {
		padding-left: 40px;
	}

	.screen {
		height: 150px;
		display: block;
	}

	.web-image {
		width: 190px;
		height: 130px;
		position: relative;
		top: -145px;
		left: 70px;
		display: block;
	}

	.proj-img {
		height: 300px;
		float: left;
		position: relative;
	}

	.space {
		height: 0;
	}

	.proj-text h2 {
		margin-top: 5px;
		text-align: center;
	}

	.proj-text p {
		font-size: 13px;
		text-indent: 50px;
	}

	.project-btn {
		font-size: 15px;
	}

	.info {
		height: 200px;
		margin-top: 150px; 
		color: white;
		border: 1px solid white;
		background-color: rgba(20, 17, 16, .7);
		border-radius: 10px;
		font-size: 1em;
	}

	.info i {
		font-size: 1em;
		padding-left: 40px;
	}

	.btn-scroll {
		display: none;
	}

	.nav-item {
		width: 80px;
	}

	.dropdown {
		margin-left: 0;
	}

	.projects [class*="proj-"] {
		/*border: 1px solid black;*/
		max-height: 170px;
	}

}

/*-------------------------------------------------------------------*/

#mountain {
	width: 100%;
}

#parallax {
	height: 100vh;
	background-color: #0A2B3E;
}

#parallax #main {
	width: 95%;
	height: 250vh;
	background: linear-gradient(#66FFFD, #FFF);
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	overflow: hidden;
}

#name {
	font-size: 100px;
	width: 100%;
	position: absolute;
	top: 50px;
	margin-top: 50px;
	text-align: center;
	font-family: 'Rambla', sans-serif;
	line-height: .5;
}

.clouds {
	width: 80%;
	position: absolute;
}

#c1 {
	top: 400px;
	left: -10%;
	z-index: 1;
}

#c2 {
	top: 300px;
	left: 40%;
	z-index: 1;
}

.clouds img {
	width: 100%;
}

#dog {
	width: 13%;
	position: absolute;
	top: 660px;
	left: 60%;
	/*z-index: 12;	*/
}

#dog img {
	width: 100%;
}

#birds {
	width: 30%;
	position: absolute;
	top: 500px;
	left: 95%;
	z-index: 10;
}

#birds img {
	width: 20%;
}

#mountain {

	width: 100%;
	position: absolute;
	top: 400px;
	left: 50%;
	transform: translateX(-50%);
}

#mountain img {
	width: 100%;
	height: 600px;
}

#home {
	position: relative;
	z-index: 100;
}

.navbar {
	margin-top: 250vh;
}


/*Tablet Styles*/
@media only screen and (min-width: 401px) and (max-width: 960px) {

	/*.nav > .nav-item > .not-active:hover {
		color: black;
  		background-color: rgba(0, 255, 0, .6);
	}

	.navbar {
		display: block;
		margin: 0 auto;
		background-color: rgba(20, 17, 16, 1);
	}
*/

	#name {
		font-size: 70px;
		top: 50px;
		height: 20%;
	}

	#dog {
		top: 750px;
	}

	.navbar {
		margin-top: 120vh;
	}

	#parallax #main {
		height: 120vh;
	}

	#mountain {
		top: 550px;
	}

	#mountain img {
		height: 500px;
	}

}

/*--------------------------------Mobile-----------------------------*/

@media only screen and (max-width: 400px) {


	#name {
		font-size: 40px;
		top: 50px;
		height: 30%;
	}

	#dog {
		left: 40%;
		top: 550px;
	}

	#parallax #main {
		height: 120vh;
	}

	.navbar {
		margin-top: 120vh;
	}

	#mountain {
		top: 500px;
	}

	#mountain img {
		height: 200px;
	}

	/*#main-content {
		height: 350px;
		border: 1px black solid;
		margin-top: 10vh;
		background-color: rgba(20, 17, 16, .7);
		border-radius: 10px;
	}*/

	#main-content div {
		height: 350px;
		border: 1px black solid;
		margin-top: 10vh;
		background-color: rgba(20, 17, 16, .7);
		border-radius: 10px;
	}

	#contact-scr div {
		height: auto;
	}

}